# Veritabanı Ayarları
DB_URL=jdbc:postgresql://localhost:5432/marketdb
DB_USER=postgres
DB_PASSWORD=your_database_password_here

# Mail Sunucu Ayarları
MAIL_SENDER=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password_here
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
